# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare
- eins 
- zwei
- drei

In [3]:
# Ein Kommentar.
print('Hello, world!')

Hello, world!

## Kommentare

In [2]:
# Das ist ein Kommentar.

## Einfache Datentypen und Variablen

In [4]:
# Variablen und Wertezuweisung (value assignment).
# Datentyp: string.
name = 'Hawking'
print(name)

Hawking

In [5]:
# Datentyp: integer.
age = 73
print(age)

73

In [8]:
# Datentyp: float.
size = 1.7123
print(size)

1.7123

In [7]:
# Datentyp: boolean.
is_scientist = True
print(is_scientist)

True

In [9]:
# Info über Datentyp.
type(name)

str

In [10]:
print(age)
print(is_scientist)

73
True

## Operatoren

In [11]:
5 + 7

12

In [12]:
5 * 7

35

In [13]:
2 ** age

9444732965739290427392

In [14]:
5 * 7 - 10

25

In [15]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [16]:
10 * name

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [17]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [18]:
name + str(10)

'Hawking10'

In [19]:
type('10')

str

In [20]:
size/age

0.023456164383561642

In [21]:
size + age

74.7123

In [22]:
age/size

42.632716229632656

In [23]:
age ** size

1550.8426402689302

In [24]:
number_of_articles = '50'
number_of_articles/10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [25]:
int(number_of_articles)/10

5.0

In [26]:
type(number_of_articles)

str

In [27]:
# Liste alle definierten Variablen.
%who

age	 is_scientist	 name	 number_of_articles	 size

## Funktionen und Methoden

In [28]:
len(name)

7

In [29]:
len(age)

TypeError: object of type 'int' has no len()

In [32]:
name.upper()

'HAWKING'

In [33]:
name

'Hawking'

In [34]:
name = name.upper()
print(name)

HAWKING

In [39]:
# Liste alle Methoden eines Objekts mit Tab.
name.replace('W', 'BlaBla')

'HABlaBlaKING'

In [37]:
first_name = 'Anna'

In [38]:
first_name.count('n')

2

In [40]:
# Concetanate.
first_name + ' ' + name

'Anna HAWKING'

In [41]:
# Hilfe zu einer Methode mit '?'.
first_name.count?

## Container

In [42]:
# Listen.
names = ['Darwin', 'Hawking', 'Curie']

In [43]:
names

['Darwin', 'Hawking', 'Curie']

In [44]:
type(names)

list

In [45]:
names[1]

'Hawking'

In [46]:
names[3]

IndexError: list index out of range

In [47]:
len(names)

3

In [48]:
# Slicing.
names[0:2]

['Darwin', 'Hawking']

In [49]:
slice_value = 2

In [50]:
names[:slice_value]

['Darwin', 'Hawking']

In [52]:
names[slice_value:]

['Curie']

### Dictionary
Können unterschiedliche Datentypen aufnehmen.

In [59]:
authors_and_ages = {'Darwin' : 73, 
                    'Goethe' : 83, 
                    'Schiller' : 50, 
                    'Lovelace' : 37,
                    'Liste' : names}

In [58]:
authors_and_ages['Schiller']

50

In [62]:
authors_and_ages['Liste']

['Darwin', 'Hawking', 'Curie', 'Noether']

In [61]:
names.append('Noether')

In [63]:
authors_and_ages['Rowling'] = 53

In [65]:
authors_and_ages
# Beachte: die Liste wurde aktualisiert.

{'Darwin': 73,
 'Goethe': 83,
 'Schiller': 50,
 'Lovelace': 37,
 'Liste': ['Darwin', 'Hawking', 'Curie', 'Noether'],
 'Rowling': 53}

## for-Schleife

In [66]:
for name in names:
    print(name + ' is a great name.')

Darwin
Hawking
Curie
Noether

## Conditionals

In [67]:
temp = 20
if temp > 15:
    print("It's warm.")

It's warm.

In [69]:
temp = 10
if temp > 15:
    print("It's warm.")
else:
    print("It's cold.")

It's cold.

In [78]:
for temp in [10, 17, 26]:
    if temp >= 25:
        print(str(temp) + "°C: It's hot.")
    elif temp >= 15:
        print(str(temp) + "°C: It's warm.")
    else:
        print(str(temp) + "°C: It's cold.")

10°C: It's cold.
17°C: It's warm.
26°C: It's hot.